<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
{{template "header"}}

<body>
    {{template "navbar" .}} {{template "gwSideMenu" .}}
    <div class="client-edit-form">
        <form class="ui form">
            <h4 class="ui dividing header">Client Information</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" value="{{.Client.Name}}" disabled>
                    </div>
                    <div class="field">
                        <label>ClientID</label>
                        <input type="text" value="{{.Client.ClientID}}" disabled>
                    </div>
                </div>
            </div>
        </form>        
        <div class="add-inner-form">
            <form method="POST" class="ui form" action="/updateGatewayRoute">
                <h4 class="ui dividing header">Edit Gateway Route</h4>
                <div class="field">
                    <label>Route</label>
                    <input type="text" name="gwRoute" value="{{.GatewayRoute.Route}}" required>
                </div>
                <input type="hidden" name="id" value="{{.GatewayRoute.ID}}">
                <input type="hidden" name="clientId" value="{{$.Client.ClientID}}">
                <button class="ui button" type="submit">Update</button>
            </form>
        </div>

    </div>   
</body>

</html>